.submitbtninauth{
background-color: #0071c2;
color:antiquewhite;
}
@media only screen and (max-width:299px){
.authform{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (min-width:300px) and (max-width:640px){
    .authform{
        
        width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
}
@media only screen and (min-width:641px) and (max-width:1007px){
    .authform{
        width: 50%; 
    margin-left: auto;
    margin-right: auto;
    }
}
@media only screen and (min-width:1008px){
    .authform{
        width: 50%;
        margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    }
}